*.node
/client/node_modules/
/client/.next/
/recycling.db
/temp_pdfs
/node_modules
/.next
/.byaldi
/src/crud_pdf.egg-info
/src/cloud_course_project.egg-info
/src/wastemgt_app.egg-info
/src/crud_pdf.egg-info
/.pytest_cache
/.vscode
/src/iot/sample
/iot-client-admin/node_modules
/certificates
/iot-client-admin/.next
/src/*.egg-info
certs
gateway-config-structure.yaml
offload_folder
queue_data
gateway-config-structure-2.yaml
src/files_api/sample
.env.aws
.env.local
.env.aws-prod
/rag_offload
/storage
/src/files_api/s3/__pycache__/*
/src/files_api/aws/__pycache__/*
/src/files_api/__pycache__/*
CLAUDE.md
CLAUDE2.md 
recycling_db_schema_current.mermaid
roadmap.csv
tasks.csv
archive/*
*.csv
.agent.local.md
.agent.md
.env.local
.env.aws
CLAUDE.md
CLAUDE.local.md
tmp_rovodev_comprehensive_refactor_tasks.md
rag_offload
build
token.txt
*.pyc
__pycache__/
.env.aws-mock
.env.aws-prod
.env.local-dev