*.node
/client/node_modules/
/client/.next/
/recycling.db
/temp_pdfs
/node_modules
/.next
/.byaldi
/src/crud_pdf.egg-info
/src/cloud_course_project.egg-info
/src/wastemgt_app.egg-info
/src/crud_pdf.egg-info
/.pytest_cache
/.vscode
/src/iot/sample
/iot-client-admin/node_modules
/certificates
/iot-client-admin/.next
/src/*.egg-info
certs
gateway-config-structure.yaml
offload_folder
queue_data
gateway-config-structure-2.yaml
src/files_api/sample
.env.aws
.env.local
/rag_offload
/storage
/src/files_api/s3/__pycache__/*
/src/files_api/aws/__pycache__/*
/src/files_api/__pycache__/*
claude.md 
recycling_db_schema_current.mermaid
roadmap.csv